<nav class="navbar navbar-expand-lg bg-body-tertiary rounded-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="img-fluid mb-2" src="/assets/logo/logo.png" alt="valaiscom"
                width="125">
            <span class="m-3">{{title}}</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            </ul>
            {{#if isAuthenticated }}
            <a id="helper"></a>
            <a href="/auth/signout" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></a>
            {{else}}
            <a href="/auth/signin" class="btn btn-danger"><i class="bi bi-box-arrow-in-right"></i></a>
            {{/if}}
            <!--[if IE] <![endif]-->
            <button id="themeSwitcher" class="btn ms-2">
                <i id="themeIcon" class="bi bi-moon"></i> <!-- Moon icon by default -->
            </button>
        </div>
    </div>
</nav> {{#if isAuthenticated }}
    <main class="container-fluid mt-3 bg-dark-subtle rounded-3">
        <div class="row">
            <!-- Navigation -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#übersicht"
                                data-bs-toggle="tab">Übersicht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#codebase-tab" data-bs-toggle="tab">Codebase</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#usage-tab" data-bs-toggle="tab">Hosting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#api-tab" data-bs-toggle="tab">Auth</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#examples-tab" data-bs-toggle="tab">Daten Verwaltung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#admin-tab" data-bs-toggle="tab">Admin</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Content -->
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="tab-content pt-3">
                    <!-- Overview Tab -->
                    <div class="tab-pane fade show active" id="übersicht">
                        <h2>Übersicht</h2>
                        <p><code>«Wärchzigchaschtu</code> ist eine Platform zum schnellzugriff auf Interne Werkzeuge, Platfromen
                            & Informationen.</p>
                        <h4>Technischer Aufbau</h4>
                        <img src="/assets/apps/dokumentation/waerchzigchaschtu.jpg" alt="" width="735" class="rounded-3">

                        <p class="bg-black mt-2 p-2 w-50 rounded-3 text-light">
                            <b class="text-info">Accounts zur Verwaltung</b><br>
                            <small>
                                <b class="text-white-50">GitHub</b> <i><u>marketing@valaiscom-ag.ch </u></i><code>2FA</code>
                            </small><br>
                            <small>
                                <b class="text-primary">Microsoft</b> <i><u>powerautomate@valaiscom-ag.ch </u></i><code>2FA</code>
                            </small><br>
                            <small>
                                <b class="text-success">Supabase</b> <i><u>marketing@valaiscom-ag.ch </u></i><code>Anmelden mit GitHub</code>
                            </small><br>
                            <small>
                                <b class="text-danger">Render</b> <i><u>marketing@valaiscom-ag.ch </u></i><code>Anmelden mit GitHub</code>
                            </small>
                            </p>
                            <p>
                            <h4>Externe Dokumentationen</h4>
                            <a class="text-danger text-decoration-none" href="https://nodejs.org/docs/latest/api/">NodeJS</a> |
                            <a class="text-danger text-decoration-none" href="https://expressjs.com/en/support/">expressJS</a> |
                            <a class="text-danger text-decoration-none"
                                href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Bootstrap</a> |
                            <a class="text-danger text-decoration-none" href="https://docs.render.com/#node.js">Render</a>
                        </p>
                    </div>

                    <!-- Installation Tab -->
                    <div class="tab-pane fade" id="codebase-tab">
                        <h2>Codebase</h2>
                        <p>Die Platfrom ist selbstprogrammiert & gehostet. Der Code wird auf <a
                                href="https://github.com/Valaiscom-AG/ms-waerchzigchaschtu.git">GitHub</a> gespeichert. & mit Render
                            gehostet.</p>
                        <p><code>Pushes</code> zu GitHub inizieren ein Update auf Render, welches den neuen code implementiert.</p>
                        <p>Es kann sein, dass sich Benutzer nach einem Update erneut anmelden müssen.</p>
                        <hr>
                        <p>Das <code>.env </code>sowie die <u>node_modules </u> werden durch das <code>.gitignore </code> file vom
                            Deployment
                            enfernt.
                            Sollten neue Umgebungsvariablen erstellt worden sein müssen diese im Render Dashboard hinzugefügt werden. Das
                            hinzufügen, verändern oder entfernen von Umgebungsvariablen führt ebenfalls zu einem neuen Deployment.</p>
                        <hr>
                        <h3>Anpassen der Platform mittels Code</h3>
                    
                        <p>*Git muss auf dem Gerät installiert sein!</p>
                    
                        <code>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        git pull
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </code>
                        <code
                            class="text-info"><a href="https://github.com/Valaiscom-AG/ms-waerchzigchaschtu.git">https://github.com/Valaiscom-AG/ms-waerchzigchaschtu.git</a></code><br>
                        veränderungen vornehmen. <br>
                        <code>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        git add . <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        git commit -m "{was wurde geändert}" <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        git push origin main <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </code>
                        <br>
                        <p class="text-success">*Zum <code>push</code> (Aktuallisieren) muss der Benutzer mit dem <u>Valaiscom-AG</u>
                            <code>GitHub</code>
                            Account
                            Angemeldet sein!
                        </p>
                        <hr>
                        <h4>Entwicklungsumgebung Einrichten</h4>
                        <ol>
                            <li> Projekt in <a href="https://code.visualstudio.com">Visual Studio Code</a> Code öfnnen.</li>
                            <li>Terminal Öffnen und in <code>cd App</code> navigieren</li>
                            <li>vor dem Ersten Start <code>npm install</code> ausführen <b class="text-success">Node muss
                                    Installiert sein!</b></li>
                            <li>zum starten des localhosts <code>npm start</code> ausführen (Immer in der /App Directory)</li>
                            <li>Der server läuft auf <code>http://localhost:3000/</code> <i>port kann in app.js angepasst werden, sollte er
                                    besetzt sein <u class="text-danger">Der neue Port muss im Azure-Portal unter den URIs erfasst wereden um
                                        die oAuth Anmeldung zu gewährleisten</u></i>
                            </li>
                            <li>Nach änderungen im Code der Ordner <code>views</code> oder <code>public</code> Einfach die Seite neu laden.
                            </li>
                            <li>Änderungen in der <code>auth</code> oder <code>routes</code> Directory erfordern ein erneutes
                                <code>npm start</code> .
                            </li>
                        </ol>
                        <hr>
                        <h4>Views & Routes</h4>
                        <p>Views & Routes sind definierte seiten, die angezeigt werden. Jeder view <code>.hbs</code> Datei benötigt eine
                            Route um Erreichbar zu sein.</p>
                    
                        <h5>Routen Definiern</h5>
                        <p> In der <code>Routes/index.js</code> Datei wird eine Route Bearbeitet ode Erstellt.</p>
                        <b>Eine Route Erklärt</b> <br>
                        <p class="bg-black mt-2 p-2 w-50 rounded-3 text-light">
                            <code>// Route for the example <span class="badge text-bg-secondary">Kommentar</span></code>
                            <br>
                            <code>router.get('/example <span class="badge text-bg-success">Definition der Route xyz.com/example</span>', function (req, res, next) {</code>
                            <br>
                            <code>res.render('brief <span class="badge text-bg-warning">auf welches <u>.hbs</u> file wird verlinkt (example.hbs = example)</span>', {</code>
                            <br>
                            <code>title: 'Brief <span class="badge text-bg-secondary">Meta-Titel der Seite</span>',</code> <br>
                            <code>icon: '/assets/apps/icons/briefe.png <span class="badge text-bg-secondary">Pfad zum icon (falls speziell festgelegt.)</span>', </code>
                            <br>
                            <code>isAuthenticated: req.session.isAuthenticated,<br>username: req.session.account?.username,<span class="badge text-bg-secondary">Der Benutzer muss sich anmelden um den vollen inhalt zu sehen</span>', </code>
                            <br>
                            <code>                        }); <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                });', </code>
                            <br>
                        </p>
                        <h5>Views Erstellen</h5>
                        <p>ist die Route Erstellt? gut, weiter gehts mit dem view.</p>
                        <p>Ein view <code>==</code> eine <code>.hbs</code> Datei</p>
                        <p>Das groundgerüst Jedes views wird aus der <code>layout.hbs</code> Datei Geladen. Darin Enthalten sind der head &
                            title tag sowie links zu den stylesheets & scripts wie <code>helper.js</code> & <code>themes.js</code> welche
                            auf jeder seite enthalten
                            sind.</p>
                        <p>Somit wird in einer neuen <code>.hbs</code> Datei nur der inhalt des html <code>body</code> der Jeweiligen Seite
                            Erstellt.</p>
                        <p>Jedes file sollte den standard <code>nav</code> tag enthalten so wie allfällige css anpassungen mittels
                            <code>style</code> tags.
                        </p>
                        <p>Es kann die <code>template.hbs</code> Datei Dupliziert werden.</p>
                    
                        <h5>Handlebars</h5>
                        <p>Handlebars ist die primäre Template Engine. dieser Platform.</p>
                        <p><b>Das Wichtigste in kürze:</b></p>
                        <p>Daten Referenzieren</p> <code>&#123;&#123;data&#125;&#125;</code> <br>
                        <p>Auth Verwaltung </p>
                        <code>&#123;&#123;#if isAuthenticated&#125;&#125;<br> 
                                                                                                                                                                                                                                                                                                                                                                                                                    Hallo, Welt  <span class="badge text-bg-secondary">angezeigt wenn eingeloggt</span> <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            &#123;&#123;else&#125;&#125; <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Bitte Anmelden <span class="badge text-bg-secondary">angezeigt wenn ausgeloggt</span> <br>
                                                                                                                                                                                                                                                                                                                                                                                                                                                              &#123;&#123;/ if&#125;&#125;</code>
                        <br>
                        <hr>
                        <h3>Azure-Potal</h3>
                        <p>Im Azure Portal wird das Backend der Anmeldung mit Microsoft Verwaltet</p>
                        <p> <b>Diese Wichtigen Eistellungen sind zu Beachten:</b></p>
                        <ul>
                            <li>Redirect URIs</li>
                            <li>Client ID</li>
                            <li>App ID</li>
                            <li>App Secret</li>
                            <li>Tenant ID (Dammit nur @valaiscom-ag.ch einloggen kann.)</li>
                        </ul>
                        <h4>Anmeldung</h4>
                        <ol>
                            <li>Mit <code>powerautomate@valaiscom-ag.ch</code> Anmelden</li>
                            <li>Ins Azure-Portal mit der Suchleiste auf <u>office.com</u></li>
                            <li>Unter App Registrierung <code>ms-waerchzigchaschtu</code> können die Einstellungen Angepasst werden</li>
                        </ol>
                        <hr>
                        <h3>Supabase</h3>
                        <p>Über Supabase läuft die Datenbank der Platform.</p>
                        <p>Die Datenbank ist eine PostgreSQL Datenbank.</p>
                        <p>Region EU Frankfurt 1</p>
                        <p class="mb-5">Datenbank Login <code>GitHub</code></p>
                    </div>

                    <!-- Usage Tab -->
                    <div class="tab-pane fade" id="usage-tab">
                        <h2>Hosting mit Render</h2>
                        <p>Die Platform wird via <a href="https://render.com">Render</a> gehostet.</p>
                        <p>Zu beachten sind hier nur die Umgebungsvariablen. (.env)</p>
                    </div>

                    <!-- API Reference Tab -->
                    <div class="tab-pane fade" id="api-tab">
                        <h2>Auth</h2>
                        <p>Wir verwenden microsofts OAuth Tenant Konfiguration um unsere Platform & Ihren Content vor ungewollten zugriffen zu
                            schützen.
                        </p>
                        <p>Die verwaltung dieser Konfiguration läuft über Die App Registrierung im Azure Portal Login:
                            <code>powerautomate@valaiscom-ag.ch</code>
                        </p>
                    </div>

                    <!-- Examples Tab -->
                    <div class="tab-pane fade" id="examples-tab">
                        <h2>Daten Verwaltung</h2>
                        <p>Die PostgressQL Datenbank liegt mit Supabase in der Cloud.</p>
                        <p><b>Login:</b> <code>marketing@valaiscom-ag.ch (GitHub)</code></p>
                        <h3>Tabels</h3>
                        <img src="/assets/apps/dokumentation/db.png" alt="" width="735" class="rounded-3">
                        <h3>CRUD</h3>
                        <p>zur Einfachen Verwaltung gibt es zu jedem table ein CRUD interface unter <a href="/editor">/editor</a></p>
                        </div>
                        <!-- Examples Tab -->
                        <div class="tab-pane fade" id="admin-tab">
                            <h3>
                                hinzufügen oder Bearbeiten von Apps
                            </h3>
                            <p>Die Apps welche auf der Landingpage angezeigt werden können im <a href="/editor">/editor</a> verwaltet werden.
                            </p>
                            <h3>
                                hinzufügen oder Bearbeiten von Mitarbeitern
                            </h3>
                            <p>Die Mitarbeiter können im <a href="/editor">/editor</a> verwaltet werden.
                            </p>
                            <h3>
                                hinzufügen oder Bearbeiten von Regionen
                            </h3>
                            <p>Die Regionen welche auf der Gebietskarte angezeigt werden können im <a href="/editor">/editor</a> verwaltet
                                werden.
                            </p>
                            <h3>
                                hinzufügen oder Bearbeiten von Abteilungen
                            </h3>
                            <p>Die Abteilungen können im <a href="/editor">/editor</a> verwaltet
                                werden.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{else}}
    <h1 class="mt-5 fw-bold mb-3">«Wärchzigchaschtu züe»</h1>
    <a href="/auth/signin" class="btn btn-danger"><i class="bi bi-box-arrow-in-right"></i> Einloggen</a>
    {{/if}}