<script type="module" src="/js/apps/gebietskarte.js"></script>
<!-- MAPBOX SDK -->
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" />
<script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
<script>
    maptheme = document.getElementsByClassName("mapboxgl-canvas")

</script>
<style>
    #map {
        margin-top: -48px;
        width: 100%;
        height: 800px;
        display: flex;
        z-index: 1;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5 rounded-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="img-fluid mb-2" src="/assets/logo/logo.png" alt="valaiscom"
                width="125">
            <span class="m-3">{{title}}</span></a>
        {{#if isAuthenticated }}
        <!-- Einstellungen & Info Buttons -->
        <span class="">
            <button type="button" class="btn btn-danger me-2" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="z-index: +2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-gear-wide-connected" viewBox="0 0 16 16">
                    <path
                        d="M7.068.727c.243-.97 1.62-.97 1.864 0l.071.286a.96.96 0 0 0 1.622.434l.205-.211c.695-.719 1.888-.03 1.613.931l-.08.284a.96.96 0 0 0 1.187 1.187l.283-.081c.96-.275 1.65.918.931 1.613l-.211.205a.96.96 0 0 0 .434 1.622l.286.071c.97.243.97 1.62 0 1.864l-.286.071a.96.96 0 0 0-.434 1.622l.211.205c.719.695.03 1.888-.931 1.613l-.284-.08a.96.96 0 0 0-1.187 1.187l.081.283c.275.96-.918 1.65-1.613.931l-.205-.211a.96.96 0 0 0-1.622.434l-.071.286c-.243.97-1.62.97-1.864 0l-.071-.286a.96.96 0 0 0-1.622-.434l-.205.211c-.695.719-1.888.03-1.613-.931l.08-.284a.96.96 0 0 0-1.186-1.187l-.284.081c-.96.275-1.65-.918-.931-1.613l.211-.205a.96.96 0 0 0-.434-1.622l-.286-.071c-.97-.243-.97-1.62 0-1.864l.286-.071a.96.96 0 0 0 .434-1.622l-.211-.205c-.719-.695-.03-1.888.931-1.613l.284.08a.96.96 0 0 0 1.187-1.186l-.081-.284c-.275-.96.918-1.65 1.613-.931l.205.211a.96.96 0 0 0 1.622-.434zM12.973 8.5H8.25l-2.834 3.779A4.998 4.998 0 0 0 12.973 8.5m0-1a4.998 4.998 0 0 0-7.557-3.779l2.834 3.78zM5.048 3.967l-.087.065zm-.431.355A4.98 4.98 0 0 0 3.002 8c0 1.455.622 2.765 1.615 3.678L7.375 8zm.344 7.646.087.065z" />
                </svg>
            </button>
            <button type="button" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
                style="z-index: +2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-card-list mb-1" viewBox="0 0 16 16">
                    <path
                        d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                    <path
                        d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
                </svg>
            </button>
        </span>
        <!-- Legende -->
        <span class="d-flex mt-2">
            <h4>
                <span class="badge me-3" style="background-color: #d40037;">OnNet</span>
                <span class="badge me-3" style="background-color: #80807f;">OffNet+</span>
                <span class="badge me-3" style="background-color: #c0c0c0;">OffNet</span>
                <span class="badge me-3" style="background-color: #000000;">Unterwallis</span>
                <span class="badge me-3" style="background-color: #006314;">Backbone</span>
            </h4>
        </span>
        <a id="helper"></a>
        <a href="/auth/signout" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></a>

        {{else}}
        <a href="/auth/signin" class="btn btn-danger"><i class="bi bi-box-arrow-in-right"></i></a>
        {{/if}}
        <!--[if IE] <![endif]-->
        <button id="themeSwitcher" class="btn">
            <i id="themeIcon" class="bi bi-moon"></i> <!-- Moon icon by default -->
        </button>
    </div>
</nav>
<center>
    {{#if isAuthenticated }}
    <div>
        <div class="row">
            <div class="col-md-3">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                            Einstellungen
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                        </button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn active btn-outline-danger" data-bs-toggle="button"
                                aria-pressed="true" id="toggle-backbone">Backbone</button>
                            <button type="button" class="btn active btn-outline-danger" data-bs-toggle="button"
                                aria-pressed="true" id="toggle-names">Orts Namen</button>
                            <select id="mapStyles" class="form-select">
                                <option value="mapbox://styles/vctluginbuehl/clvdrrtq1010101qp227e4ivt">Standart
                                </option>
                                <option value="mapbox://styles/vctluginbuehl/cm055v65d00f801qy2mobag54">Satelit Overlay
                                </option>
                                <option value="mapbox://styles/mapbox/streets-v12">Google Maps</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-transparent">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 me-3" id="exampleModalLabel">Informationen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body w-100">
                    <div class="search-bar mb-3">
                        <input type="text" id="searchInput" class="form-control" placeholder="Suchen..">
                    </div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                        id="reset-filters">
                        Filter
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="row mt-2 mb-3">
                            <div class="col-md-3">
                                <label for="assigned-dropdown">Zugewiesen</label>
                                <select class="form-control" id="assigned-dropdown"></select>
                            </div>
                            <div class="col-md-3">
                                <label for="type-dropdown">Type</label>
                                <select class="form-control" id="type-dropdown"></select>
                            </div>
                            <div class="col-md-3">
                                <label for="technologie-dropdown">Technologie</label>
                                <select class="form-control" id="technologie-dropdown"></select>
                            </div>
                            <div class="col-md-3">
                                <label for="phase-dropdown">Phase</label>
                                <select class="form-control" id="phase-dropdown"></select>
                            </div>
                        </div>
                        <div class="row mb-3">
                        </div>
                    </div>
                    <table class="table table-responsive table-hover table-striped w-100" style="width: 1580px"
                        id="regions-table">
                        <thead>
                            <tr>
                                <th scope="col" class="d-none">ID</th>
                                <th scope="col">Gemeinde</th>
                                <th scope="col">Verkäufer</th>
                                <th scope="col">Gebiet</th>
                                <th scope="col">Technologie</th>
                                <th scope="col">POP</th>
                                <th scope="col">NE</th>
                                <th scope="col">Bemerkung</th>
                                <th scope="col" class="d-none">Phase</th>
                            </tr>
                        </thead>
                        <tbody id="regions-table-body">
                            <!-- Dynamic employee rows will be generated here -->
                        </tbody>
                    </table>
                </div>

                <script>
                    document.getElementById('searchInput').addEventListener('input', function () {
                        let filter = this.value.toLowerCase();
                        let rows = document.querySelectorAll('#regions-table-body tr');

                        rows.forEach(row => {
                            let cells = row.querySelectorAll('td');
                            let match = false;
                            cells.forEach(cell => {
                                if (cell.innerText.toLowerCase().includes(filter)) {
                                    match = true;
                                }
                            });
                            row.style.display = match ? '' : 'none';
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <button type="button" class="btn btn-outline-danger rounded-3"
        style="position: absolute; bottom: 15px; right: 15px; z-index: +1" id="fullscreen-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen"
            viewBox="0 0 16 16">
            <path
                d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5M.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5">
            </path>
        </svg>
        <p class="m-0">Fullscreen</p>
    </button>
    <script>
        mapboxgl.accessToken = "pk.eyJ1IjoidmN0bHVnaW5idWVobCIsImEiOiJjbHZiZXU4ZDIwODkwMnByczh1bmlpZGV4In0.MlYALubK2lYOiibJlR2XxA";
        const bounds = [
            [5.75, 44.8], // [west, south]
            [9.75, 47.8], // [east, north]
        ];

        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/vctluginbuehl/clvdrrtq1010101qp227e4ivt', // default style
            center: [48.3, 7.75],
            zoom: 0,
            maxBounds: bounds,
            projection: 'mercator'
        });

        function addLayers() {
            map.addSource("backbone", {
                type: "geojson",
                data: "/assets/apps/gebietskarte/backbone.geojson",
            });
            map.addLayer({
                id: "backbone-layer",
                type: "line",
                source: "backbone",
                paint: {
                    "line-width": 4,
                    "line-color": "green",
                },
            });
            map.addSource("communes", {
                type: "vector",
                url: "mapbox://vctluginbuehl.659bua97",
            });
            map.addLayer({
                id: "commune-symbols",
                type: "symbol",
                source: "communes",
                "source-layer": "Communes_Wallis-cb0vhq",
                minzoom: 1,
                layout: {
                    "text-field": ["get", "NOM"],
                    "text-font": ["Montserrat Bold", "Arial Unicode MS Regular"],
                    "text-size": 12,
                    "text-anchor": "center",
                    "text-offset": [0, 0],
                    "symbol-placement": "point",
                    "text-allow-overlap": false,
                },
                paint: {
                    "text-color": "#FFFFFF",
                    "text-halo-color": "hsla(0, 0%, 100%, 0.75)",
                    "text-halo-width": 0,
                },
                filter: ["any", ["==", "NOM", "Brigerbad"],
                    ["==", "NOM", "Eischoll"],
                    ["==", "NOM", "Gampel-Bratsch"],
                    ["==", "NOM", "Brig-Glis"],
                    ["==", "NOM", "Guttet-Feschel"],
                    ["==", "NOM", "Leuk"],
                    ["==", "NOM", "Susten"],
                    ["==", "NOM", "Eyholz"],
                    ["==", "NOM", "Goms"],
                    ["==", "NOM", "Naters"],
                    ["==", "NOM", "Obergoms"],
                    ["==", "NOM", "Saas-Fee"],
                    ["==", "NOM", "Saas-Grund"],
                    ["==", "NOM", "Visp"],
                    ["==", "NOM", "Baltschieder"],
                    ["==", "NOM", "Lalden"],
                    ["==", "NOM", "Stalden"],
                    ["==", "NOM", "Steg-Hohtenn"],
                    ["==", "NOM", "Turtmann-Unterems"],
                    ["==", "NOM", "Varen"],
                    ["==", "NOM", "Niedergesteln"],
                    ["==", "NOM", "Saas-Almagell"],
                    ["==", "NOM", "Eisten"],
                    ["==", "NOM", "Saas-Balen"],
                    ["==", "NOM", "Embd"],
                    ["==", "NOM", "Leukerbad"],
                    ["==", "NOM", "Raron"],
                    ["==", "NOM", "Agarn"],
                    ["==", "NOM", "Varen"],
                    ["==", "NOM", "Inden"],
                    ["==", "NOM", "Niederwald"],
                    ["==", "NOM", "Grafschaft"],
                    ["==", "NOM", "Zermatt"],
                    ["==", "NOM", "Ried-Brig"],
                    ["==", "NOM", "Termen"],
                    ["==", "NOM", "Bitsch"],
                    ["==", "NOM", "Mörel-Filet"],
                    ["==", "NOM", "Grengiols"],
                    ["==", "NOM", "St. Niklaus"],
                    ["==", "NOM", "Ausserberg"]]
            });
        }

        map.on('load', addLayers);

        function updateMapStyle() {
            const selectElement = document.getElementById('mapStyles');
            const selectedStyle = selectElement.value;

            // Set the new style
            map.setStyle(selectedStyle);

            // Re-add layers after style has loaded
            map.once('style.load', () => {
                addLayers();
            });
        }

        document.getElementById('mapStyles').addEventListener('change', updateMapStyle);

        // Toggle Backbone layer
        document.getElementById("toggle-backbone").addEventListener("click", function () {
            const visibility = map.getLayoutProperty("backbone-layer", "visibility");
            map.setLayoutProperty("backbone-layer", "visibility", visibility === "visible" ? "none" : "visible");
        });

        // Toggle Commune Names layer
        document.getElementById("toggle-names").addEventListener("click", function () {
            const visibility = map.getLayoutProperty("commune-symbols", "visibility");
            map.setLayoutProperty("commune-symbols", "visibility", visibility === "visible" ? "none" : "visible");
        });

        // Fullscreen Button
        const fullscreenBtn = document.getElementById("fullscreen-btn");
        fullscreenBtn.addEventListener("click", () => {
            if (!document.fullscreenElement) {
                document.documentElement.requestFullscreen().catch((err) => {
                    console.error(`Error attempting to enable fullscreen: ${err.message}`);
                });
            } else {
                document.exitFullscreen();
            }
        });

        // Fullscreen Event Listener
        document.addEventListener("fullscreenchange", () => {
            fullscreenBtn.innerHTML = document.fullscreenElement ? `
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen-exit" viewBox="0 0 16 16">
                    <path d="M5.5 0a.5.5 0 0 1 .5.5v4A1.5 1.5 0 0 1 4.5 6h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5m5 0a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 10 4.5v-4a.5.5 0 0 1 .5-.5M0 10.5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 6 11.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5m10 1a1.5 1.5 0 0 1 1.5-1.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0z"/>
                </svg>
                <p class="m-0">Exit Fullscreen</p>
            ` : `
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5M.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5"></path>
                </svg>
                <p class="m-0">Fullscreen</p>
            `;
        });
    </script>
    {{else}}
    <h1 class="mt-5 fw-bold mb-3">«Wärchzigchaschtu züe»</h1>
    <a href="/auth/signin" class="btn btn-danger"><i class="bi bi-box-arrow-in-right"></i> Einloggen</a>
    {{/if}}
</center>
