<nav class="navbar navbar-expand-lg bg-body-tertiary rounded-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="img-fluid mb-2" src="/assets/logo/logo.png" alt="valaiscom" width="125">
            <span class="m-3">NPS Dashboard</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <a id="helper"></a>
            <a href="/auth/signout" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></a>
            <button id="themeSwitcher" class="btn ms-2">
                <i id="themeIcon" class="bi bi-moon"></i>
            </button>
        </div>
    </div>
</nav>

<h4 id="username-d" class="text-success d-none">{{username}}</h4>
<div class="container mt-5">
    <!-- Filter Section -->
    <div class="row mb-4">
        <div class="col-md-4">
            <label for="employeeFilter" class="form-label">Mitarbeiter auswählen:</label>
            <select id="employeeFilter" class="form-select">
                <option value="all" selected>Alle Mitarbeiter</option>
                <option value="Franziska Rieder">Franziska Rieder</option>
                <option value="Laureta Krasniqi">Laureta Krasniqi</option>
                <option value="Mira Briggeler">Mira Briggeler</option>
                <option value="Mariana Castro">Mariana Castro</option>
                <option value="Loris Hildenbrand">Loris Hildenbrand</option>
                <option value="Luca Eggel">Luca Eggel</option>
                <option value="Michela Eggel">Michela Eggel</option>
                <option value="Tim Luginbühl">Tim Luginbühl</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="timeSpanFilter" class="form-label">Zeitraum auswählen:</label>
            <select id="timeSpanFilter" class="form-select">
                <option value="all" selected>Alle Zeiträume</option>
                <option value="day">Letzter Tag</option>
                <option value="week">Letzte Woche</option>
                <option value="month">Letzter Monat</option>
                <option value="year">Letztes Jahr</option>
            </select>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-between">
            <label class="form-label me-2">Chart-Typ:</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="displayType" id="barChart" value="bar" checked>
                    <label class="form-check-label" for="barChart">Balkendiagramm</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="displayType" id="lineChart" value="line">
                    <label class="form-check-label" for="lineChart">Liniendiagramm</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="displayType" id="pieChart" value="pie">
                    <label class="form-check-label" for="pieChart">Kreisdiagramm</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4">
            <label class="form-label">Datenart:</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dataType" id="averageRatings" value="average"
                        checked>
                    <label class="form-check-label" for="averageRatings">Durchschnittsbewertung</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="dataType" id="allRatings" value="all">
                    <label class="form-check-label" for="allRatings">Alle Bewertungen</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Graph Section -->
    <div class="row mt-4">
        <div class="col-md-3">
            <h4 class="text-center">Mitarbeiterbewertungen</h4>
            <canvas id="ratingsByEmployeeChart" class="shadow-sm rounded" height="200"></canvas>
        </div>
    </div>

    <!-- Table Section -->
    <div class="row mt-5">
        <div class="col-12">
            <h4>Kommentare</h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Bewertung</th>
                        <th>Kommentar</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody id="commentsTable">
                    <!-- Table rows will be generated dynamically -->
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="/js/apps/nps-dashboard.js"></script>