<nav class="navbar navbar-expand-lg bg-body-tertiary rounded-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="img-fluid mb-2" src="/assets/logo/logo.png" alt="valaiscom" width="125">
            <span class="m-3">{{title}}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            {{#if isAuthenticated }}
            <a id="helper"></a>
            <a href="/auth/signout" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></a>
            {{else}}
            <a href="/auth/signin" class="btn btn-danger"><i class="bi bi-box-arrow-in-right"></i></a>
            {{/if}}
            <button id="themeSwitcher" class="btn ms-2">
                <i id="themeIcon" class="bi bi-moon"></i> <!-- Moon icon by default -->
            </button>
        </div>
    </div>
</nav>

<center>
    {{#if isAuthenticated }}
    <div class="container">
        <h1 class="mt-5">Visitenkarte Erstellen</h1>
        <div class="input-group mb-3">
            <span class="input-group-text">Mitarbeiter auswählen</span>
            <select id="employee-dropdown" class="form-select">
                <option value="">Bitte auswählen...</option>
                <!-- Options will be populated dynamically -->
            </select>
        </div>

        <div id="previewContainer" class="mt-5">
            <h4>Vorschau</h4>
            <iframe id="pdfPreview" style="width: 100%; height: 765px;"></iframe>
        </div>
    </div>
    {{else}}
    <h1 class="mt-5 fw-bold mb-3">«Wärchzigchaschtu züe»</h1>
    <a href="/auth/signin" class="btn btn-danger"><i class="bi bi-box-arrow-in-right"></i> Einloggen</a>
    {{/if}}
</center>
<!-- Include PDFLib -->
<script src="https://unpkg.com/pdf-lib@1.17.1"></script>

<!-- Include fontkit -->
<script src="https://cdn.jsdelivr.net/npm/@pdf-lib/fontkit@1.1.1/dist/fontkit.umd.min.js"></script>

<script type="module" src="/js/apps/visitenkarten.js"></script>